@{
    this.ViewBag.Title = "Summary View";
    this.Layout = "~/Views/Shared/_Layout.cshtml";
}

@using System.Text
@using Microsoft.AspNetCore.WebUtilities
@model StackViewerViewModel

<h4>Hotspots View</h4>

<table class="table table-bordered table-hover" id="hotspots">
    <thead class="thead-inverse">
    <tr>
        <td>Name</td>
        <td>Exclusive Metric %</td>
        <td>Exclusive Count</td>
        <td>Inclusive Metric %</td>
        <td>Inclusive Count</td>
        <td>Fold Count</td>
        <td>When</td>
        <td>First</td>
        <td>Last</td>
    </tr>
    </thead>
    <tbody>
    @foreach (var node in this.Model.TreeNodes)
    {
        <tr data-tt-id="@this.Html.Encode(node.ContextId)" data-tt-parent-id="@this.Html.Encode(node.ParentContextId)" data-tt-branch="@node.HasChildren.ToString().ToLower()">
            <td class="node">@this.Html.CustomRouteLink(node.Name, "Callers", new { name = Base64UrlTextEncoder.Encode(Encoding.UTF8.GetBytes(node.Id)) })</td>
            <td>@node.ExclusiveMetricPercent.ToString("n2")%</td>
            <td>@node.ExclusiveCount</td>
            <td>@node.InclusiveMetricPercent.ToString("n2")%</td>
            <td>@node.InclusiveCount</td>
            <td>@node.ExclusiveFoldedMetric</td>
            <td>@node.InclusiveMetricByTimeString</td>
            <td>@node.FirstTimeRelativeMSec.ToString("n3")</td>
            <td>@node.LastTimeRelativeMSec.ToString("n3")</td>
        </tr>
    }
    </tbody>
</table>
